    {% extends 'blog/base.html' %}
    
    
    
      {% block content %}
      
     <div class="clear_psevdo">
      <h1> Занятие "{{activities}}" </h1>
      <div class="head_of_activity">
        <div class="author_of_activity"> 
            Автор: {{activities.author}} <br> Категория: {% if "lep" in activities.category %} Лепка {% endif %}
        </div>
        <div class="date_of_activity">
            Дата публикации: {{activities.published_date}}            
        </div>
       </div>
     </div> <br/>
      <div class="text_of_activity"> {{ activities.text}}</div>
      
      {% endblock content %}
      
 
 
 