
    {% load staticfiles %}

    <html>
        <head>
            <title> Развивающие занятия дома с мамой</title>
           
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
<body>
    <div id="container">
        <div id="header">
            <h1><a href="/">Главная</a></h1>
	</div>                   

        <div id="left">
            <div class="left_div"> Наборы для занятий с детьми по возрастам
                <div class="div_of_left_menu"><a href="/sets/0-1/">До года</a></div>
                <div class="div_of_left_menu"> <a href="/sets/1-2/">  1 год </a></div>
                <div class="div_of_left_menu"><a href="/sets/2-3/"> 2 года </a></div>
                <div class="div_of_left_menu"><a href="/sets/3-4/"> 3 года </a></div>
                <div class="div_of_left_menu"><a href="/sets/4-5/"> 4 года </a></div>
                <div class="div_of_left_menu"><a href="/sets/5-6/"> 5 лет </a></div>
                <div class="div_of_left_menu"><a href="/sets/6-7/"> 6 лет </a></div>
            
            </div>
        
  
        

        
        </div>
   
        <div id="content">
		<a href="{% url 'sets_new' %}" class = top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% block content %}
            {% endblock %}
        </div>
            
        
        <div id="clear"> </div>
        <div id="footer"> <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47122044 = new Ya.Metrika({ id:47122044, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/47122044" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter --> </div>
       </div>
    </body>
    </html>
