body,html {
   margin:0px;
    padding:0px;
    
}

* html .clear {
        height: 1%;
}
#container {
    min-width:600px;
    margin-left:20%;
    margin-right:20%;
    width:60%;
    height:justify;
    min-height:600px;
   background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
#header{
 
    background:linear-gradient(30deg, red, #C5EEE8);
    scroll:none;
    heigth:200px;
    overflow:hidden;
}
ul {
    width:justify;
    text-align:left;
}


@keyframes circle_in_header {
    from {transform:rotate(45deg);}
    to {transform:rotate(-45deg);}
}
#circle1 {
    float:right;
width: 60px; height: 60px; margin: 10px;
background: yellow;
position: relative;
transform: rotate(20deg);
animation-duration:5s;
animation-name:circle_in_header;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
#circle1:before {
content: "";
height: 60px; width: 60px;
background: inherit;
position: absolute; top: 0; left: 0;
transform: rotate(135deg);}

.div_of_left_menu {
    text-align:center;
    padding-top:15px;
    padding-bottom:10px;
    border-style:solid;
    border-width:1 px;
    border-color:green;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:15%;
    margin-rigth:15%;
    width:70%;
    animation-name:aaa-1;
    animation-duration:1s;
    font-size:14pt;
    color:black;
}
.div_of_left_menu:hover {
    animation-name:aaa;
    animation-duration:1s;
    animation-fill-mode: forwards;
}
@keyframes aaa-1 {
    from {background-color:red; border-radius:30px; }
    to {background-color:none; border-radius:0px; }
}
@keyframes aaa {
    from {background-color:none; border-radius:0px; }
    to {background-color:red; border-radius:30px;}
}
#left{
    width:20%;
    float:left;
    align:center;
    margin-left:5%;
    
    
}
.box_of_traffic_ligth {
    float:right;
    margin-right:20%;
    margin-bottom:40px;
   border-style:solid;
   border-width:2px;
   border-color:black;
   background-color:black;
   width: 80px;
   heigth:100px;
}



#clear {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
    margin: 0px
}

#footer {
    border-style:solid;
    border-color: blue;
    border-width:2px;
    width:100%;
}
.head_of_post {
    border-width:2px;
    border-color:red;
    border-style:solid;
    padding:0px;
    
    overflow: auto;
   
    
}
.date {
    float:right;
}
.title {
    float:left;
}
.article {
    padding-top:10 px;
}

.left_div,.rigth_div {
    border-radius: 10px;
    border-color: green;
    border-style:solid;
    text-align: center;
    margin:10px;
    }
  
p {
    text-align:justify;
}
.name_of_activity {
    border-color: blue;
    border-radius: 10px;
    padding: 10px;
    width: justify;
    height: 10px;
    background-color:blue;
}
.name_of_activity_1 {
        float:left;
        width: 20%;
}
.date_of_activity {
        float:right;
        width: 20%;
}
#content {

    margin-left:30%;
    margin-right:10%;
  
}
.category_of_activity {
    float:left;
}
.head_of_post:after {
    content: "";
    display: table;
    clear: both;
}
#footer {
    background-color:d23123;
}
#clear {
    clear:both;
}
.author_of_activity {
    float:left;
}
.date_of_activity {
    float:right;
}
.clear_psevdo:after {
        content: "&nbsp;";
        display: inline;
        clear: both;
        visibility: hidden;
        height: 0;
        line-height: 0;
        margin:0px;
        
}
.text_of_activity {
    margin-top: 10px;
}
.head_of_activity {
    border-style: solid;
    border-width:2px;
    border-color:black;
    border-radius: 2px;
    overflow: auto;
}

.headers {
	font-style: Verdana;
	text-decoration:underline;
	
}
a.buttons{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
display:block;
width:100px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
padding: 8px 16px;
margin: 20px auto;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;        
}
a.buttons {
background-color: rgb( 43, 153, 91 );
border: 1px solid rgb( 33, 126, 74 );
}
        
a.buttons:hover {
background-color: rgb( 75, 183, 141 );
}

.preview {
	width:30%;
	border: 2px solid black;
	text-align: center;
	padding-top:5px;
}
.preview img {
	width:80%
	margin-top:10%;
	margin-bottom:10%;
	margin-left:10%;
	margin-right:10%;
}

